@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic");
/* colors */
/* colors to elements */
/* font */
/* sizes */
.header-container__menu li > a, .workWeDo_button, .map_button {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center; }

header .header-container, .header-container__menu, .footer-container, .workWeDo, .description, .clients {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

header .header-container, .footer-container, .main-container {
  max-width: 900px;
  padding: 0 10px;
  margin: 0 auto; }

p, ul {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #9b9fa1; }

h2 {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0; }

h1 {
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #000; }

.fa-shopping-cart {
  color: #a6a6a6;
  margin-right: 10px; }

body {
  margin: 0;
  padding: 0;
  background-color: #626262;
  font-family: "Roboto", sans-serif; }

* {
  box-sizing: border-box; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff; }

header {
  background-color: #eeeeee; }
  header .header-container {
    height: 85px; }
    header .header-container > a {
      flex: 1 1 280px;
      margin-right: 20px; }

.header-container__menu {
  list-style: none;
  margin: 0;
  padding-left: 5px;
  flex: 2 1 560px;
  text-align: right; }
  .header-container__menu li {
    flex: 1 1 90px; }
    .header-container__menu li > a {
      line-height: 130px;
      color: black;
      font-weight: 400; }
    .header-container__menu li li:last-of-type {
      width: 200px;
      border: 1px solid red; }

.header-container__logo {
  height: 60px;
  margin-top: 22px; }

.footer-container {
  min-height: 215px;
  padding-top: 75px; }
  .footer-container > div:first-of-type {
    flex: 1 1 300px; }
  .footer-container p, .footer-container ul {
    margin-top: 5px; }
  .footer-container a {
    color: white;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #e1e1e1;
    border-radius: 50%;
    text-align: center;
    line-height: 57px;
    margin-right: 20px; }

.red-btn {
  background-color: #fb565a; }
  .red-btn:hover {
    background-color: #d6494d; }
  .red-btn:active {
    background-color: #b63538; }

.green-btn {
  background-color: #00ca74; }
  .green-btn:hover {
    background-color: #01a25e; }
  .green-btn:active {
    background-color: #009053; }

.yellow-btn {
  background-color: #efc84a; }
  .yellow-btn:hover {
    background-color: #d6ae2c; }
  .yellow-btn:active {
    background-color: #c09b24; }

.main-container {
  padding-top: 80px;
  padding-bottom: 80px; }

.slider {
  height: 350px;
  background-color: #eeeeee; }

.workWeDo {
  min-height: 380px;
  border-bottom: 2px solid #eeeeee; }

.workWeDo__order {
  width: 240px;
  min-height: 300px; }
  .workWeDo__order img {
    margin-bottom: 20px; }

.workWeDo_button, .map_button {
  display: inline-block;
  margin-top: 30px;
  color: white;
  font-size: 12px;
  padding: 10px 40px;
  border-radius: 5px; }

.description {
  min-height: 470px;
  padding: 70px 0;
  border-bottom: 2px solid #eeeeee; }
  .description article {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap; }
  .description h2 {
    margin-top: 20px; }

.description > article:first-of-type {
  max-width: 70%;
  padding-right: 80px; }

.description > article:last-of-type {
  max-width: 30%; }

.description__logo {
  position: relative; }
  .description__logo img {
    width: 185px;
    padding: 0 0 35px 0;
    border-bottom: 2px solid #eeeeee;
    margin-top: -25px; }
  .description__logo h2 {
    text-align: center;
    z-index: 5;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 20%;
    right: 20%; }

.description__list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0; }
  .description__list li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px; }
    .description__list li:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 50%;
      top: 50%;
      width: 25px;
      height: 2px;
      background-color: #fb565a; }
    .description__list li:last-child {
      margin-bottom: 0; }

.clients {
  min-height: 170px;
  border-bottom: 2px solid #eeeeee;
  align-items: center;
  text-align: center; }
  .clients img {
    width: 70%;
    opacity: 0.4; }
  .clients div:nth-of-type(3) {
    padding-top: 20px; }

.map {
  min-height: 415px;
  background: url(../images/map.jpg) no-repeat;
  background-size: cover;
  position: relative; }
  .map div {
    position: absolute;
    height: 240px;
    width: 240px;
    top: 0;
    bottom: 0;
    left: 12%;
    margin: auto;
    background-color: white;
    padding: 30px 25px 25px 25px; }
    .map div span {
      font-weight: normal; }

.map_button {
  margin-bottom: 0;
  display: block; }

/*# sourceMappingURL=style.css.map */
