@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic");
/* colors */
/* colors to elements */
/* font */
/* sizes */
.slider_button, .workWeDo_button, .map_writeUsButton, .send-form .send-form__btn-send,
.send-form .send-form__btn-reset {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 10px 40px;
  font-size: 12px;
  outline: none;
  border: none; }

.header-container__menu, .footer-container, .workWeDo, .description, .clients {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

header .header-container, .footer-container, .main-container, .slider .slider__container {
  max-width: 900px;
  padding: 0 10px;
  margin: 0 auto; }

p, ul {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #818688; }

h2 {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0; }

h1 {
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #000; }

.fa-shopping-cart {
  color: #a6a6a6;
  margin-right: 10px; }

input[type="text"],
input[type="email"],
.textarea {
  font-family: "Roboto", sans-serif;
  font-size: 14px; }
  input[type="text"]:hover,
  input[type="email"]:hover,
  .textarea:hover {
    border-color: #a2a9ac; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  .textarea:focus {
    border-color: #56bffb;
    outline: none; }

body {
  margin: 0;
  padding: 0;
  background-color: #626262;
  font-family: "Roboto", sans-serif; }

* {
  box-sizing: border-box; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff; }

header {
  background-color: #eeeeee; }
  header .header-container {
    display: flex;
    flex-flow: row nowrap;
    height: 85px; }
    header .header-container > a {
      flex: 1 1 280px;
      margin-right: 20px; }

.header-container__menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  flex: 2 1 560px;
  flex-flow: row nowrap;
  text-align: right; }
  .header-container__menu li {
    flex: 1 1 90px; }
    .header-container__menu li > a {
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      line-height: 130px;
      color: black;
      font-weight: 400; }
      .header-container__menu li > a:hover, .header-container__menu li > a:hover i {
        color: #fb565a; }
      .header-container__menu li > a:active, .header-container__menu li > a:active i {
        color: #d5d5d5; }
    .header-container__menu li:first-child {
      flex: 1 1; }
    .header-container__menu li:last-child {
      flex: 2 1 170px; }

.header-container__logo {
  height: 60px;
  margin-top: 22px; }

.footer-container {
  min-height: 215px;
  padding-top: 75px; }
  .footer-container > div:first-of-type {
    flex: 1 1 300px; }
  .footer-container p, .footer-container ul {
    margin-top: 5px; }
  .footer-container a {
    color: white;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #e1e1e1;
    border-radius: 50%;
    text-align: center;
    line-height: 57px;
    margin-right: 20px; }
    .footer-container a:hover {
      background-color: #d6494d; }
    .footer-container a:active {
      background-color: #b63538; }

.red-btn {
  background-color: #fb565a; }
  .red-btn:hover {
    background-color: #d6494d; }
  .red-btn:active {
    background-color: #b63538; }

.green-btn {
  background-color: #00ca74; }
  .green-btn:hover {
    background-color: #01a25e; }
  .green-btn:active {
    background-color: #009053; }

.yellow-btn {
  background-color: #efc84a; }
  .yellow-btn:hover {
    background-color: #d6ae2c; }
  .yellow-btn:active {
    background-color: #c09b24; }

.grey-btn {
  background-color: #f1f1f1; }
  .grey-btn:hover {
    background-color: #e5e5e5; }
  .grey-btn:active {
    background-color: #d5d5d5; }

.main-container {
  padding-top: 80px;
  padding-bottom: 80px; }

.slider {
  position: relative;
  background-color: #eeeeee; }
  .slider input {
    display: none; }
  .slider .slider__container {
    min-height: 370px;
    position: relative; }

.slider__controls {
  position: absolute;
  width: 150px;
  bottom: 20px;
  left: 50%;
  margin-left: -75px;
  z-index: 100; }

.slider__slider-1,
.slider__slider-2,
.slider__slider-3 {
  display: none;
  flex-flow: row wrap-reverse;
  min-height: inherit; }
  .slider__slider-1 > div:first-child,
  .slider__slider-2 > div:first-child,
  .slider__slider-3 > div:first-child {
    flex: 1 1 50%;
    min-height: inherit;
    padding: 7% 150px 7% 0; }

.slider__image-block {
  margin: auto 0;
  text-align: right; }

.slider__slider-3 > div:first-child {
  padding-right: 100px; }

.slider__controls label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
  transition: background ease-in-out .5s;
  background-color: #fff; }

.slider__controls label:after {
  border: 3px solid #fff;
  content: " ";
  display: block;
  height: 7px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 7px;
  border-radius: 50%; }

.slider__controls label:hover,
#slide-1:checked ~ .slider__controls label:nth-of-type(1),
#slide-2:checked ~ .slider__controls label:nth-of-type(2),
#slide-3:checked ~ .slider__controls label:nth-of-type(3) {
  background: #c1c1c1; }

#slide-1:checked ~ .slider__container > .slider__slider-1,
#slide-2:checked ~ .slider__container > .slider__slider-2,
#slide-3:checked ~ .slider__container > .slider__slider-3 {
  display: flex; }

.slider_button {
  width: 240px;
  margin-top: 20px; }

.workWeDo {
  min-height: 380px;
  border-bottom: 2px solid #eeeeee; }

.workWeDo__order {
  width: 240px;
  min-height: 300px; }
  .workWeDo__order img {
    margin-bottom: 20px; }

.workWeDo_button {
  margin-top: 30px; }

.description {
  min-height: 470px;
  padding: 70px 0;
  border-bottom: 2px solid #eeeeee; }
  .description article {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap; }
  .description h2 {
    margin-top: 20px; }

.description > article:first-of-type {
  max-width: 70%;
  padding-right: 80px; }

.description > article:last-of-type {
  max-width: 30%; }

.description__logo {
  position: relative; }
  .description__logo img {
    width: 185px;
    padding: 0 0 35px 0;
    border-bottom: 2px solid #eeeeee;
    margin-top: -25px; }
  .description__logo h2 {
    text-align: center;
    z-index: 5;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 20%;
    right: 20%; }

.description__list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0; }
  .description__list li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px; }
    .description__list li:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 50%;
      top: 50%;
      width: 25px;
      height: 2px;
      background-color: #fb565a; }
    .description__list li:last-child {
      margin-bottom: 0; }

.clients {
  min-height: 170px;
  border-bottom: 2px solid #eeeeee;
  align-items: center;
  text-align: center; }
  .clients img {
    width: 70%;
    opacity: 0.4; }
    .clients img:hover, .clients img:active {
      opacity: 1; }
  .clients div:nth-of-type(3) {
    padding-top: 20px; }

.map {
  min-height: 415px;
  background: url(../images/map.jpg) no-repeat;
  background-size: cover;
  position: relative; }

.map__writeUs {
  position: absolute;
  height: 240px;
  width: 240px;
  top: 0;
  bottom: 0;
  left: 12%;
  margin: auto;
  background-color: white;
  padding: 30px 25px 25px 25px; }
  .map__writeUs span {
    font-weight: normal; }

.map_writeUsButton {
  margin-bottom: 0;
  display: block; }

.send-form {
  position: fixed;
  background: #fff;
  max-width: 630px;
  height: 415px;
  padding: 42px 80px;
  box-shadow: 5px 5px 20px grey;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  flex-flow: column nowrap; }
  .send-form label {
    display: block;
    margin-bottom: 10px; }
  .send-form textarea {
    height: 110px;
    margin-bottom: 20px; }
  .send-form input, .send-form input, .send-form textarea {
    padding: 8px 20px;
    border: 2px solid #eeeeee;
    border-radius: 5px;
    width: 100%; }
  .send-form .send-form__btn-send,
  .send-form .send-form__btn-reset {
    margin-bottom: 10px; }
    .send-form .send-form__btn-send:last-child,
    .send-form .send-form__btn-reset:last-child {
      color: black; }

.send-form__nameAndEmail,
.send-form__buttons {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
  width: 100%; }
  .send-form__nameAndEmail > *,
  .send-form__buttons > * {
    flex: 1; }
    .send-form__nameAndEmail > *:first-child,
    .send-form__buttons > *:first-child {
      margin-right: 20px; }

.send-form_visible {
  display: flex; }

/*# sourceMappingURL=style.css.map */
