%button_link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

%flex_row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

%inner_container {
  max-width: $inner_container;
  padding: 0 10px;
  margin: 0 auto;
}

p {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: $p_font_color;
}

h2 {
  font-size: 18px;
  color: $h2_font_color;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: $h1_font_color;
}

ul {
  @extend p;
}

.fa-shopping-cart {
  color: #a6a6a6;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
.textarea {
  font-family: $font;
  font-size: 14px;
  &:hover {
    border-color: $border_hover;
  }
  &:focus {
    border-color: $border_focus;
    outline: none;
  }
}


body {
  margin: 0;
  padding: 0;
  background-color: $background_around;
  font-family: $font;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $background_wrapper;
}

header {
  background-color: $background_header;
    .header-container {
      @extend %inner_container;
      @extend %flex_row;
      height: 85px;
      > a {
        flex: 1 1 280px;
        margin-right: 20px;
      }
    }
}

.header-container__menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  flex: 2 1 560px;
  @extend %flex_row;
  flex-flow: row nowrap;
  text-align: right;
  li {
    flex: 1 1 90px;
    > a {
      @extend %button_link;
      line-height: 130px;
      color: black;
      font-weight: 400;
      &:hover, &:hover i {
        color: $button_red;
      }
      &:active, &:active i {
        color: $button_grey-push;
      }
    }
    &:first-child {
      flex: 1 1;
    }
    &:last-child {
      flex: 2 1 170px;
    }
  }
}

.header-container__logo {
  height: 60px;
  margin-top: 22px;
}

.footer-container {
  @extend %inner_container;
  @extend %flex_row;
  min-height: 215px;
  padding-top: 75px;

  > div:first-of-type {
    flex: 1 1 300px;
  }

  p {
    margin-top: 5px;
  }
  a {
    color: white;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: $button_social;
    border-radius: 50%;
    text-align: center;
    line-height: 57px;
    margin-right: 20px;
    &:hover {
      background-color: $button_red-hover;
    }
    &:active {
      background-color: $button_red-push;
    }
  }

}


.red-btn {
  background-color: $button_red;
  &:hover {
    background-color: $button_red-hover;
  }
  &:active {
    background-color: $button_red-push;
  }
}

.green-btn {
  background-color: $button_green;
  &:hover {
    background-color: $button_green-hover;
  }
  &:active {
    background-color: $button_green-push;
  }
}

.yellow-btn {
  background-color: $button_yellow;
  &:hover {
    background-color: $button_yellow-hover;
  }
  &:active {
    background-color: $button_yellow-push;
  }
}

.grey-btn {
  background-color: $button_grey;
  &:hover {
    background-color: $button_grey-hover;
  }
  &:active {
    background-color: $button_grey-push;
  }
}