%button_link {
  text-decoration: none;
  text-transform: uppercase;
}

%flex_row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background_around;
  font-family: $font;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $background_wrapper;
}

header {
  background-color: $background_header;

    .header-container {
      max-width: $inner_container;
      height: 85px;
      margin: 0 auto;
      display: flex;
      flex-flow: row wrap;
      > a {
        flex: 1 1 280px;
        margin-right: 20px;

      }
    }
}


.header-container__menu {
  list-style: none;
  margin: 0;
  padding-left: 5px;
  flex: 2 1 560px;
  display: flex;
  flex-flow: row nowrap;


  li {
    flex: 1 1 90px;
    > a {
      @extend %button_link;
      line-height: 130px;
      color: black;

    }
  }
}

.header-container__logo {
  height: 60px;
  margin-top: 22px;
  }


p {
  font-size: 16px;
  color: $p_font_color;
}

h2 {
  font-size: 18px;
  color: $h2_font_color;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
  color: $h1_font_color;
}

ul {
  color: $ul_font_color;
}

.red-btn {
  background-color: $button_red;
  &:hover {
    background-color: $button_red-hover;
  }
  &:active {
    background-color: $button_red-push;
  }
}

.green-btn {
  background-color: $button_green;
  &:hover {
    background-color: $button_green-hover;
  }
  &:active {
    background-color: $button_green-push;
  }
}

.yellow-btn {
  background-color: $button_yellow;
  &:hover {
    background-color: $button_yellow-hover;
  }
  &:active {
    background-color: $button_yellow-push;
  }
}