%button_link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 10px 40px;
  font-size: 12px;
  outline: none;
  border: none;
}

%flex_row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

%inner_container {
  max-width: $inner_container;
  padding: 0 10px;
  margin: 0 auto;
}

p {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: $p_font_color;
}

h2 {
  font-size: 18px;
  color: $h2_font_color;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: 15px;
  color: $h2_font_color;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: $h1_font_color;
}

ul {
  @extend p;
}

.fa-shopping-cart {
  color: #a6a6a6;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
.textarea {
  font-family: $font;
  font-size: 14px;
  &:hover {
    border-color: $border_hover;
  }
  &:focus {
    border-color: $border_focus;
    outline: none;
  }
}


body {
  margin: 0;
  padding: 0;
  background-color: $background_around;
  font-family: $font;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $background_wrapper;
}

header {
  background-color: $background_header;
    .header-container {
      @extend %inner_container;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      min-height: 85px;
      > a {
        flex: 1 1 280px;
        margin-right: 20px;
      }
      //responsive header
      @media screen and (max-width: $responsive_point_2) {
        > a {
          text-align: center;
        }
      }
    }

  @media screen and (max-width: $responsive_point_1){
    text-align: center;
    > a {
      flex: 1 1;
    }
  }
}

.header-container__menu {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  flex: 2 1 560px;
  @extend %flex_row;
  flex-flow: row nowrap;
  text-align: right;
  li {
    min-height: 0;
    align-self: flex-end;
    flex: 1 1 90px;
    > a {
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;

      color: black;
      font-weight: 400;
      &:hover, &:hover i {
        color: $button_red;
      }
      &:active, &:active i {
        color: $button_grey-push;
      }
    }
    //&:first-child {
    //  flex: 1 1;
    //}
    &:last-child {
      flex: 2 1 170px;
    }
  }
  // responsive menu
  @media screen and (max-width: $responsive_point_2) {
    li {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: $responsive_point_1){
    flex: 1 1 480px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 0;
    li {
      flex: 1 1;
      margin: 0 10px;
      > a {
        line-height: 30px;
      }
      &:last-child {
        flex: 1 1;
        i {
          display: none;
        }
      }
    }
    }
}

.header-container__logo {
  height: 60px;
  margin-top: 22px;
}


// map section
.map {
  display: flex;
  flex-flow: row nowrap;
  min-height: 415px;
  background: url(../images/map.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-position-x: 75%;
}

.map__writeUs {
  position: absolute;
  height: 240px;
  width: 240px;
  top: 0;
  bottom: 0;
  left: 12%;
  margin: auto;
  background-color: white;
  padding: 30px 25px 25px 25px;
  @media screen and (max-width: $responsive_point_1) {
    top: 0;
    left: 0;
    margin: 0;
  }
  span {
    font-weight: normal;
  }
}


.map_writeUsButton {
  @extend %button_link;
  margin-bottom: 0;
  display: block;
}

.send-form {
  position: fixed;
  background: $white_1;
  max-width: 630px;
  height: 415px;
  padding: 42px 80px;
  box-shadow: 5px 5px 20px grey;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  flex-flow: column nowrap;
  animation: sendFormAnim 0.6s;
  animation-timing-function: ease-out;
  label {
    display: block;
    margin-bottom: 10px;
  }

  textarea {
    height: 110px;
    margin-bottom: 20px;
  }
  input, textarea {
    padding: 8px 20px;
    border: 2px solid $border_color;
    border-radius: 5px;
    width: 100%;
  }
  .send-form__btn-send,
  .send-form__btn-reset  {
    @extend %button_link;
    margin-bottom: 10px;
    &:last-child {
      color: black;
    }
  }

}

.send-form__nameAndEmail,
.send-form__buttons {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;

  > div {
    flex: 1;
    &:first-child {
      margin-right: 20px;
    }
  }
}


.send-form_page {
  display: flex;
  position: static;
  box-shadow: none;
  animation: none;
  margin-top: 50px;
}

.send-form_visible {
  display: flex;
}

.send-form_fadeout {
  transform: scale(0);
  transition-duration: 0.3s;
  opacity: 0.3;
}


// footer section
.footer-container {
  @extend %inner_container;
  @extend %flex_row;
  min-height: 215px;
  padding-top: 75px;

  > div:first-of-type {
    flex: 1 1 300px;
  }

  p {
    margin-top: 5px;
  }
  a {
    color: white;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: $button_social;
    border-radius: 50%;
    text-align: center;
    line-height: 57px;
    margin-right: 20px;
    &:hover {
      background-color: $button_red-hover;
    }
    &:active {
      background-color: $button_red-push;
    }
  }
  @media screen and (max-width: $responsive_point_3) {
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    > div:first-of-type {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}


.red-btn {
  background-color: $button_red;
  &:hover {
    background-color: $button_red-hover;
  }
  &:active {
    background-color: $button_red-push;
  }
}

.green-btn {
  background-color: $button_green;
  &:hover {
    background-color: $button_green-hover;
  }
  &:active {
    background-color: $button_green-push;
  }
}

.yellow-btn {
  background-color: $button_yellow;
  &:hover {
    background-color: $button_yellow-hover;
  }
  &:active {
    background-color: $button_yellow-push;
  }
}

.grey-btn {
  background-color: $button_grey;
  &:hover {
    background-color: $button_grey-hover;
  }
  &:active {
    background-color: $button_grey-push;
  }
}