// header section see in _basic.scss

.main-container {
  @extend %inner_container;
  padding-top: 80px;
  padding-bottom: 80px;
}

.slider {
  height: 350px;
  background-color: $background_slider;
}
// offers section
.workWeDo {
  @extend %flex_row;
  min-height: 380px;
  border-bottom: 2px solid $border_color;
}

.workWeDo__order {
  width: 240px;
  min-height: 300px;
  img {
    margin-bottom: 20px;
  }
}

.workWeDo_button {
  @extend %button_link;
  display: inline-block;
  margin-top: 30px;
  color: white;
  font-size: 12px;
  padding: 10px 40px;
  border-radius: 5px;
}
// offers section ends

// description section
.description {
  @extend %flex_row;
  min-height: 470px;
  padding: 70px 0;
  border-bottom: 2px solid $border_color;
  article {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
  }
  h2 {
    margin-top: 20px;
  }
}


.description > article:first-of-type {
  max-width: 70%;
  padding-right: 80px;
}

.description > article:last-of-type {
  max-width: 30%;
}

.description__logo {
  position: relative;
  img {
    width: 185px;
    padding: 0 0 35px 0;
    border-bottom: 2px solid $border_color;
    margin-top: -25px;
  }
  h2 {
    text-align: center;
    z-index: 5;
    background: $white_1;
    position: absolute;
    bottom: -5px;
    left: 20%;
    right: 20%;
  }
}

.description__list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;

  li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 50%;
      top: 50%;
      width: 25px;
      height: 2px;
      background-color: $list_dash;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// clients section

.clients {
  @extend %flex_row;
  min-height: 170px;
  border-bottom: 2px solid $border_color;
  align-items: center;
  text-align: center;
  img {
    width: 70%;
    opacity: 0.4;
  }

  div:nth-of-type(3) {
    padding-top: 20px;
  }
}

// map section
.map {
  min-height: 415px;
  background: url(../images/map.jpg) no-repeat;
  background-size: cover;
  position: relative;

  div {
    position: absolute;
    height: 240px;
    width: 240px;
    top: 0;
    bottom: 0;
    left: 12%;
    margin: auto;
    background-color: white;
    padding: 30px 25px 25px 25px;
    span {
      font-weight: normal;
    }
  }
}

.map_button {
  @extend .workWeDo_button;
  margin-bottom: 0;
  display: block;
}

// footer section see in _basic.scss




