// header section see in _basic.scss
@keyframes sendFormAnim {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }

  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.main-container {
  @extend %inner_container;
  padding-top: 80px;
  padding-bottom: 80px;
  // responsive
  @media screen and (max-width: $responsive_point_1) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.slider {
  position: relative;
  input {
    display: none;
  }
  background-color: $background_slider;
  .slider__container {
    min-height: 370px;
    @extend %inner_container;
    position: relative;
    @media screen and (max-width: $responsive_point_1) {
      text-align: center;
      padding-bottom: 30px;
    }
  }
}

.slider__controls {
  position: absolute;
  width: 150px;
  bottom: 20px;
  left: 50%;
  margin-left: -60px;
  z-index: 100;
}

.slider__slider-1,
.slider__slider-2,
.slider__slider-3 {
  display: none;
  flex-flow: row wrap-reverse;
  justify-content: center;
  min-height: inherit;
  @media screen and (max-width: $responsive_point_2) {
    flex-flow: column-reverse nowrap;
  }
  > div:first-child {
    flex: 1 1 50%;
    min-height: inherit;
    padding: 7% 0 7% 0;
    @media screen and (max-width: $responsive_point_2) {
      padding: 0;
      min-height: 280px;
      text-align: center;
    }
  }
  > div:last-child {
    flex: 1 1 50%;
    @media screen and (max-width: $responsive_point_2) {
      text-align: center;
      height: 319px;
    }
  }
}


.slider__image-block {
  margin: auto 0;
  text-align: right;
}

.slider__slider-3 {
  > div:last-child {
    margin-top: auto;
    margin-bottom: -3px;
    @media screen and (max-width: $responsive_point_2) {
      margin: 0;
    }
  }
}

.slider__controls label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
  transition: background ease-in-out .5s;
  background-color: $white_1;
}

.slider__controls label:after {
  border: 3px solid $white_1;
  content: " ";
  display: block;
  height: 7px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 7px;
  border-radius: 50%;
}

.slider__controls label:hover,
#slide-1:checked ~ .slider__controls label:nth-of-type(1),
#slide-2:checked ~ .slider__controls label:nth-of-type(2),
#slide-3:checked ~ .slider__controls label:nth-of-type(3) {
  background: $slider_pointer;
}

#slide-1:checked ~ .slider__container > .slider__slider-1,
#slide-2:checked ~ .slider__container > .slider__slider-2,
#slide-3:checked ~ .slider__container > .slider__slider-3 {
  display: flex;
}

.slider_button {
  @extend %button_link;
  width: 240px;
  margin-top: 20px;
  margin-bottom: 20px;
}
// offers section
.workWeDo {
  @extend %flex_row;
  min-height: 380px;
  border-bottom: 2px solid $border_color;

  @media screen and (max-width: $responsive_point_2) {
    justify-content: space-around;
    }
  @media screen and (max-width: $responsive_point_1) {
    justify-content: center;
  }
}

.workWeDo__order {
  width: 240px;
  min-height: 300px;
  img {
    margin-bottom: 20px;
    box-shadow: -3px 3px 5px rgba(100,100,100,0.5);
    transition: all 0.3s;
    &:hover {
      transform: translateY(2px) translateX(-2px);
      box-shadow: none;
    }
  }
  @media screen and (max-width: $responsive_point_2) {
    margin-bottom: 40px;
  }
  @media screen and (max-width: $responsive_point_1) {
    margin-bottom: 0;
    min-height: 340px;
    border-left: 2px solid $border_color;
    border-right: 2px solid $border_color;
    text-align: center;
  }
}

.workWeDo_button {
  @extend %button_link;
  margin-top: 30px;
}
// offers section ends

// description section
.description {
  @extend %flex_row;
  min-height: 470px;
  padding: 70px 0;
  border-bottom: 2px solid $border_color;
  justify-content: space-between;
  article {
    display: flex;
    flex-flow: column nowrap;
    div {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
  h2 {
    margin-top: 20px;
  }
}


.description > article:first-of-type {
  flex: 2 1 66%;
  @media screen and (max-width: $responsive_point_1) {
    margin-bottom: 40px;
  }
}
.description > article:last-of-type {
  flex: 1 1 33%;
}

.description__logo {
  position: relative;
  text-align: center;
  border-bottom: 2px solid $border_color;
  img {
    width: 185px;
    padding: 0 0 35px 0;
    margin-top: -25px;
  }
  h2 {
    text-align: center;
    z-index: 5;
    background: $white_1;
    position: absolute;
    bottom: -10px;
    left: 20%;
    right: 20%;
  }
  @media screen and (max-width: $responsive_point_3) {
    margin-top: 50px;
  }
}

.description__list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;

  li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 50%;
      top: 50%;
      width: 25px;
      height: 2px;
      background-color: $list_dash;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// clients section

.clients {
  @extend %flex_row;
  min-height: 170px;
  border-bottom: 2px solid $border_color;
  align-items: center;
  text-align: center;
  @media screen and (max-width: $responsive_point_3) {
    flex-flow: column wrap;
    div {
      width: 40%;
      margin-top: 30px;
    }
  }
  @media screen and (max-width: $responsive_point_1) {
    div {
      width: 70%;
    }
  }

  img {
    width: 70%;
    opacity: 0.4;
    &:hover, &:active {
      opacity: 1;
    }

  }

  div:nth-of-type(3) {
    padding-top: 20px;
  }
}

// map section
.map {
  display: flex;
  flex-flow: row nowrap;
  min-height: 415px;
  background: url(../images/map.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-position-x: 75%;
}

.map__writeUs {
  position: absolute;
  height: 240px;
  width: 240px;
  top: 0;
  bottom: 0;
  left: 12%;
  margin: auto;
  background-color: white;
  padding: 30px 25px 25px 25px;
  @media screen and (max-width: $responsive_point_1) {
    top: 0;
    left: 0;
    margin: 0;
  }
  span {
    font-weight: normal;
  }
}


.map_writeUsButton {
  @extend %button_link;
  margin-bottom: 0;
  display: block;
}

.send-form {
  position: fixed;
  background: $white_1;
  max-width: 630px;
  height: 415px;
  padding: 42px 80px;
  box-shadow: 5px 5px 20px grey;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  flex-flow: column nowrap;
  animation: sendFormAnim 0.6s;
  animation-timing-function: ease-out;
  label {
    display: block;
    margin-bottom: 10px;
  }

  textarea {
    height: 110px;
    margin-bottom: 20px;
  }
  input, textarea {
    padding: 8px 20px;
    border: 2px solid $border_color;
    border-radius: 5px;
    width: 100%;
  }
  .send-form__btn-send,
  .send-form__btn-reset  {
    @extend %button_link;
    margin-bottom: 10px;
    &:last-child {
      color: black;
    }
  }

}

.send-form__nameAndEmail,
.send-form__buttons {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;

  > * {
    flex: 1;
    &:first-child {
      margin-right: 20px;
    }
  }
}


.send-form_visible {
  display: flex;
}

.send-form_fadeout {
  transform: scale(0);
  transition-duration: 0.3s;
  opacity: 0.3;
}

// footer section see in _basic.scss




